@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    @apply h-screen w-full;
}

body {
    @apply m-0 block;
}

@layer base {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }
}

@layer components {
    /* .btn-default {
        @apply px-2 py-1 rounded-md;
    } */

    .app {
        @apply w-full block;
    }

    .app,
    .app-page {
        @apply h-screen overflow-hidden;
    }
}

@layer utilities {
    .h-screen {
        height: 100dvh;
        max-height: 100vh;
        min-height: 100svh;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    @apply bg-transparent rounded-md;
    background-color: #c8ae7d;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply rounded-md;
    background-color: #765827;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #65451f;
    @apply shadow-lg;
}
