@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    /* @apply screen; */
}

body {
    @apply bg-dirt-100;
}

@layer base {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }
}

@layer components {
    /* .btn-default {
        @apply px-2 py-1 rounded-md;
    } */
}

@layer utilities {
    .screen {
        height: 100dvh;
        max-height: 100vh;
        min-height: 100svh;
    }
}
